body {
  background-colour: #fff2de;
}
  
  
#navbar {
  background-color: #000000; 
  position: fixed; 
  top: 0%; 
  width: 100%; 
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  font:  monospace;
  float: right;
  display: block;
  color: #ffa61c;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #e6e6e6;
  color: #000000;
}

#flowerimg1 {
  position: fixed;
  top: 200px;
  width: 100px;
}
