body {
  background-colour: #ff1ca8;
}
  
/* NAVBAR */
#navbar {
  background-color: #000000; 
  position: fixed; 
  top: 0%; 
  width: 100%; 
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  font:  monospace;
  float: right;
  display: block;
  color: #ffa61c;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #e6e6e6;
  color: #000000;
}
/* Main background image */

#flowerimg8 {
  width: 100%;
  height: 100%;
  opacity; 0.7;
}
