#navbar {
  background-color: #ba91a9; 
  position: center, fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  font:  serif;
  float: right;
  display: block;
  color: #383033;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #e6e6e6;
  color: #000000;
}
